@import "../../../global";

$primary-color: $projects;

.tile {
  background-color: $primary-color;
  border-radius: 5px;
  padding: 1.5rem;
  box-shadow: 0 5px 0 mix(black, $primary-color, 50%);

  h3 {
    font-family: $font-family;
    color: #fff;
    font-size: $font-size-verylarge;
    font-weight: $font-weight-medium;
    margin-top: 0;
    margin-bottom: 0.25em;
    border-bottom: 2px solid #fff;
  }

  p {
    font-family: $font-family;
    font-weight: $font-weight-medium;
    color: #fff;
    font-size: $font-size-regular;
  }

  .btn-container {
    text-align: center;

    .btn {
      @include button($primary-color, #fff);
    }
  }
}
